
.app-main {
  flex: 4;
}

.app-side {
  flex: 1;
  min-width: 320px;
  background: $light-1;
  z-index: 1;
}

.app {
  display: flex;
  height: 100vh;
  padding: 48px 0 0;

  &::before {
    flex: 1;
    content: '';
  }
}

// mobile
@media (max-width: 1200px) {
  .app {
    &::before {
      display: none;
    }
  }

  .app-side {
    position: absolute;
    transform: translate(100%);
  }
}

// desktop
@media (min-width: 1200px + 1px) {
  .app-main {
    min-width: 1200px - 320px;
  }
}
