
.bar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;
  padding: 0 12px;
  color: $white;
  z-index: 1;

  a {
    display: block;
    width: 96px;
    background: url('images/quiver-white.svg') no-repeat center;
    background-size: contain;
  }
}
