
.card-overlay {
  flex: 1;
  display: flex;
  transition: opacity 1s;
  background: $light-1;

  &.-hide {
    opacity: 0;
  }
}

.card {
  display: flex;
  border-radius: 8px;
  background-blend-mode: multiply;
  background-color: $light-1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
  opacity: 0;
  overflow: hidden;
  animation: 1s forwards card;

  &::before {
    display: block;
    padding: 0 0 100%;
    content: '';
  }
}

@keyframes card {
  0% {
    transform: translateY(96px);
  }

  100% {
    opacity: 1;
  }
}
