
// .control-label {
//   font-size: 12px;
// }

.control-button {
  padding: 10px 12px;

  ._material-icons {
    font-size: 36px;
  }
}

.control {
  display: flex;
  margin: 0 0 0 auto;
  color: $white;
}
