
// .control-label {
//   font-size: 12px;
// }

.control-button {
  $control-white: rgba($white, 0.125);
  padding: 12px;

  &:hover {
    background: $control-white;
  }
}

.control {
  display: flex;
  margin: 0 0 0 auto;
  color: $white;
  cursor: pointer;
  user-select: none;
}
