
.item-image {
  width: 512px;
  height: 512px;
  transform-origin: 0 0;
  background-blend-mode: multiply;
  background-color: $light-1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
  z-index: 9999;
}

.item {
  padding: 6px;
}

@media (min-width: 900px) {
  .item {
    padding: 18px;
  }
}
