
.listings-item {
  width: 50%;
  padding: 6px;

  // &.-wide {
  //   width: calc(100% - 12px);
  //
  //   &::before {
  //     padding: 0 0 50%;
  //   }
  // }
}

.listings {
  display: flex;
  flex-flow: wrap;
  padding: 6px;
}

@media (min-width: 600px) {
  .listings-item {
    width: calc(100% / 3);
  }
}

@media (min-width: 900px) {
  .listings {
    padding: 18px;
  }

  .listings-item {
    width: 25%;

    // &.-wide {
    //   width: calc(50% - 12px);
    //
    //   &::before {
    //     padding: 0 0 50%;
    //   }
    // }
  }
}
