
.spinner {
  width: 44px;
  height: 44px;
  padding: 4px;
  border-radius: 50%;
  background: $white;

  &::before {
    display: block;
    height: 18px;
    transform-origin: 50% 100%;
    border: 2px solid $retro;
    border-radius: 18px 18px 0 0;
    border-bottom-color: transparent;
    content: '';
    animation: 1s linear infinite spinner;
  }
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}
