
.spinner-circle {
  width: 44px;
  height: 44px;
  margin: auto; // NOTE: always center
  padding: 4px;
  border-radius: 50%;
  background: $white;

  &::before {
    display: block;
    height: 100%;
    border: 2px solid $retro;
    border-radius: 50%;
    border-top-color: $light-1;
    border-left-color: $light-1;
    content: '';
    animation: 0.5s linear infinite spinner;
  }
}

.spinner {
  display: flex;
  height: 100%;
  pointer-events: none; // NOTE
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}
