
.welcome-agree {
  margin: 70px 0 0;
  color: $retro-light;
  font-size: 14px;
  line-height: 1.5rem;
  text-align: center;
  opacity: 0;
  animation: 0.5s 2s forwards welcome-fade;

  a {
    text-decoration: underline;
  }
}

.welcome-button {
  width: 256px;
  margin: 0 auto;
  padding: 14px 0;
  border: 2px transparent solid;
  border-radius: 28px;
  color: $white;
  font-size: 24px;
  font-weight: bold;
  background: $retro;
  cursor: pointer;
  overflow: hidden;
  animation: 1.5s welcome-slide;

  &::before {
    display: block;
    position: absolute;
    top: 0;
    width: 96px;
    height: 100%;
    transform: translate(-96px) skewX(135deg);
    background: $white;
    content: '';
    opacity: 0;
    animation: 0.5s 3s welcome-shine;
  }

  &:hover {
    border: 2px $retro solid;
    color: $retro;
    background: none;
  }
}

.welcome-quiver {
  width: 36px * 6;
  height: 12px * 6;
  margin: 36px auto;
  background: url('images/quiver.svg');
  background-size: cover;
  animation: welcome-slide 1.25s;
}

.welcome-logo {
  width: 256px;
  height: 256px;
  margin: 24px auto 0;
  border-radius: 50%;
  background: url('images/logo.svg');
  background-color: $retro;
  animation: welcome-slide 1s;
}

.welcome {
  display: flex;
  flex-flow: column;
  text-align: center;
  white-space: pre;
  user-select: none;
  -webkit-font-smoothing: antialiased; // HACK: Chrome
  animation: welcome-slide 2s;
}

@keyframes welcome-fade {
  100% {
    opacity: 1;
  }
}

@keyframes welcome-shine {
  50% {
    opacity: 0.375;
  }

  100% {
    transform: translate(256px) skewX(135deg);
  }
}

@keyframes welcome-slide {
  0% {
    transform: translateY(96px);
    opacity: 0;
  }
}
